body
{
  margin: 0;
  align-items: center;
  align-content: center;
  background-color: #3333cc;
  margin-bottom: 12.5px;
}

a
{
  text-decoration: none;
  color: black;
}


ul
{
  margin: 0;
  margin-top: 12.5px;
  padding-left: 0;
  margin-bottom: 12.5px;
}

.pages a
{
  color: #3CB0FF;
}

a:hover
{
  color: white;
}

.pages li
{
  /*padding: 25px;*/
  vertical-align: center;
  font-family: Trebuchet MS;
  display: inline;
  font-size: 30px;
  padding: 12.5px 25px;
}

.pages li:hover
{
  background-color: blue;
}

.pages li:first-of-type
{
  margin-left: 75px;
}